/* body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin-top: 50px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #343a40;
}

.btn {
    border-radius: 5px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alert {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    opacity: 0.9;
} */

/* .xyz-bg-index {
    background-image: linear-gradient(45deg, rgba(0, 128, 0, 0.747), rgba(0, 0, 0, 0.366), rgba(0, 0, 0, 0.41), rgba(0, 128, 0, 0.66)), url("../img/hack.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
} */